<p>Welcome <%= @email %>!</p>

<p>Puede confirmar su cuenta en el siguiente vinculo:</p>

<p><%= link_to 'Confirme su cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
